---
layout: default
---

<p>Hours: {{site.operation}}</p>
<p>Address: {{site.address}}</p>
<div class="hero-image">
 <img src="{{site.image}}">
</div>


<!-- <section class="page-content__about">

<div class="home">
<h2>About Us </h2>
{% for page in site.pages  %}
{% if page.title == 'About' %}
{{ page.content }}
{% endif %}
{% endfor %}
</div>

</section> -->





<section class="page-content__reservation">

<h2> Make a Reservation today. </h2>
<a href="https://www.opentable.com/r/ikigai-fka-naked-fish-japanese-bistro-reservations-salt-lake-city?restref=24784&lang=en" target="_blank">

Book a Table </a>

</section>
